{% extends "index.html" %}

{% block main %}

    <form action="/about">
    <body>
        <div class="container">
            <div class="text" style="margin-top: 20px;">
                We're big fans of YouTube and want to help you discover some new channels</div>
                <div class="text">which may be very interesting for you, here you can select the category you want</div>
                <div class="text">and we will recommend the most voted channels of the community</div>

                <div class="text"style="margin-top: 30px;">There is a lot of entertainment and good quality content waiting for you!</div>

                <div class="text" style="margin-top: 30px;">You can also participate and vote for your favorite channels that you create</div>
                <div class="text">are interesting to help other people find it.</div>
            <img src="static/youtube2.jpg" width="50" height="35" style="margin-left: 30px; margin-top: 25px;">
            <h1 class="text">Best Regards! </h1>
        </div>
    </body>
    </form>

{% endblock %}