{% extends "index.html" %}

{% block main %}

    <form action="/register" method="post">
    <body>
        <div class="container">
        <div class="container">

            <div class="text" style="margin-top: 20px;">Please enter your data and click the register button</div>
            <div class="formular">
                    <input autocomplete="off" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="formular">
                    <input autocomplete="off" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="formular">
                    <input autocomplete="off" id="password" name="confirmation" placeholder="Repeat Password" type="password">
            </div>
            <button class="button2" type="submit">Register!</button>

        </div>
        </div>
    </body>
    </form>

{% endblock %}